@import "../../common/colors.scss";

.header {
  background-color: $secondary-color;
  height: 73px;
  padding: 0px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: $font-primary;
  font-size: 25px;
  font-weight: 600;
}
.search-box {
  width: 40%;
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  width: 70%;
  justify-content: center;
  button {
    padding: 0px 8px;
    font-size: 20px;
    cursor: pointer;
    height: 35px;
  }
  input {
    font-size: 18px;
    width: 100%;
    height: 35px;
    padding: 5px 5px 5px 10px;
    outline: none;
  }
}
